altgraph==0.17.4
autopep8==2.0.4
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
filelock==3.13.1
gdown==5.1.0
idna==3.6
importlib-metadata==7.0.1
packaging==23.2
pefile==2023.2.7
pycodestyle==2.11.1
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
PySide2==5.15.2.1
PySocks==1.7.1
pywin32-ctypes==0.2.2
requests==2.31.0
shiboken2==5.15.2.1
soupsieve==2.5
tomli==2.0.1
tqdm==4.66.2
urllib3==2.2.1
zipp==3.17.0
zstd==1.5.5.1
